<app-header-admin title_header="Category" title_btn="Add Item"
  routerLinkString="/admin/edit_category"></app-header-admin>
<div class="select-box">
  <div class="content-fiter-tools">
    <div class="tools-title" (click)="resetFiter()">
      <i class="fa-solid fa-sort"></i>
      <span>Filter</span>
    </div>
    <div class="tool-elements">
      <div class="element-select">
        <select class="form-select" [(ngModel)]="isActive" (change)="onIsActiveChange()">
          <option [value]="null" selected>--</option>
          <option [value]="true">Active</option>
          <option [value]="false">Non Avtive</option>
        </select>
      </div>
      <div class="element-select">
        <select class="form-select" [(ngModel)]="sortBy" (change)="onCreateAtChange()">
          <option [value]="'id'" selected>Sort by Id</option>
          <!-- <option [value]="'name'">Sort by Name</option> -->
          <option [value]="'createdAt'">Sort by Created At</option>
        </select>
      </div>
      <div class="element-select">
        <select class="form-select" [(ngModel)]="sortDir" (change)="onSortDirChange()">
          <option [value]="'asc'" selected>Augment</option>
          <option [value]="'desc'" selected>Reduct</option>

        </select>
      </div>
    </div>

  </div>
  <div class="tool-searchs row" >
    <div class="col-1 mt-2  " style="cursor: pointer;"  (click)="deleteCategories()"><img
        src="https://img.icons8.com/?size=100&id=gq8yzmdS4C7D&format=png&color=000000" width="50" alt=""></div>
    <div class="col-3" style="margin-left: 4px;">
      <div class="search-product">
        <input type="text" [(ngModel)]="nameSearch" name="nameSearch" (ngModelChange)="onNameChange($event)"
          placeholder=" Search Category Name">
      </div>
    </div>
    <div class="col-3">
      <div class="search-product">
        <input type="text" [(ngModel)]="parentIdSearch" name="parentIdSearch"
          (ngModelChange)="searchParentIdCategory($event)" placeholder=" Search Parent Id">
      </div>
    </div>


  </div>
</div>

<app-table *ngIf="dataPageCategory" [currentPage]="page" [tableData]="dataPageCategory?.content?.flat() || []"
  [dataPage]="dataPageCategory" [typeImage]="'categories'" [tableHeaders]="headers"
  routerLinkString="/admin/edit_category" [eventClickDelete]="deleteCategory" [toggleCheckbox]="toggleCheckbox"
  (pageChanged)="onPageChange($event)">
</app-table>