<div class="table-responsive wishlist-table margin-bottom-none p-3">
    <table class="table">
        <thead>
            <tr>
                <th>Lịch Sử Hóa Đơn</th>
                <th class="text-center"><a class="btn btn-sm btn-outline-danger">Xóa Lịch Sử</a></th>
            </tr>
        </thead>
        <tbody>
            <tr routerLink="/client/profile/order_history/order_detail"  >
                <td>
                    <div class="product-item">
                        <a class="product-thumb" ><img src="https://www.bootdey.com/image/220x180/FF0000/000000" alt="Product"></a>
                        <div class="product-info">
                            <h4 class="product-title"><a  >Unionbay Park</a></h4>
                            <div class="text-lg text-medium text-muted">$43.90</div>
                            <div>Availability:
                                <div class="d-inline text-success">In Stock</div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="icon-cross"></i></a></td>
            </tr>
            <tr>
                <td>
                    <div class="product-item">
                        <a class="product-thumb" href="#"><img src="https://www.bootdey.com/image/220x180/87CEFA/000000" alt="Product"></a>
                        <div class="product-info">
                            <h4 class="product-title"><a href="#">Daily Fabric Cap</a></h4>
                            <div class="text-lg text-medium text-muted">$24.70</div>
                            <div>Availability:
                                <div class="d-inline text-warning">2 - 3 Weeks</div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="icon-cross"></i></a></td>
            </tr>
            <tr>
                <td>
                    <div class="product-item">
                        <a class="product-thumb" href="#"><img src="https://www.bootdey.com/image/220x180/483D8B/000000" alt="Product"></a>
                        <div class="product-info">
                            <h4 class="product-title"><a href="#">Cole Haan Crossbody</a></h4>
                            <div class="text-lg text-medium text-muted">$200.00</div>
                            <div>Availability:
                                <div class="d-inline text-success">In Stock</div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="icon-cross"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>