<!-- <div class="container">
    <div class="textLink" style="margin-left: 40px; padding: 10px;"><span style="
      font-family:  'Kanit', sans-serif; font-size: 17px;font-weight: 500;
      ">Home</span>
        <span style="padding: 5px;">/</span>
        <span style="color: #8ba1b0; font-size: 12px;font-weight: 500;">Products</span>
        <span style="padding: 5px;">/</span>
        <span style="color: #8ba1b0; font-size: 12px;font-weight: 500;">Product detail</span>
    </div>
</div> -->
<!-- CONTENT -->
<div class="container-fluid">
  <div class="background-box">
    <!-- <img class="image-overlay" src="../../../assets/images/banner-product-1.jpg" alt=""> -->
    <!-- <div class="overlay"></div> -->
    <div class="content-box">
      <div class="container p-3  " style="background-color: rgba(255, 255, 255, 0.6);height: auto;">
        <div class="content-product-title">
          <h2>ĐỒ MẶC NGOÀI</h2>
        </div>
        <div class="content-fiter-tools">
          <div class="tools-title">
            <i class="fa-solid fa-sort"></i>
            <span>{{ "Bộ lọc" | translate }}</span>
          </div>
          <div class="tool-elements">
            <div class="element-select">
              <select class="form-select">
                <option selected>Kích cỡ</option>
                <option>Giá Giảm Dần</option>
              </select>
            </div>
            <div class="element-select">
              <select class="form-select">
                <option selected>Màu sắc</option>
                <option>Giá Giảm Dần</option>
              </select>
            </div>
            <div class="element-select">
              <select class="form-select">
                <option selected>Giá</option>
                <option>Giá Giảm Dần</option>
                <option>Giá Tăng Dần</option>
              </select>
            </div>
            <div class="element-select">
              <select class="form-select">
                <option selected>Tên</option>
                <option>Tên Giảm Dần</option>
                <option>Tên Tăng Dần</option>
              </select>
            </div>
          </div>

        </div>
        <div class="tool-search">
          <div class="count-product">
            <span>{{products.length}} Sản Phẩm</span>
          </div>
<!--          <div class="search-product">-->
<!--            <input type="text">-->
<!--          </div>-->
        </div>


        <div class="products-box">


<!--          <div class="product-item" [routerLink]="['../detail_product']">-->
<!--            <div class="product-item-image">-->
<!--              <img src="../../../assets/images/pr1.png" alt="aaa">-->
<!--            </div>-->
<!--            <div class="product-item-ColorAndbtnWishList">-->
<!--              <div class="product-item-color">-->
<!--                <label class="fr-chip-label"-->
<!--                  style="background-size: 50px; background-position: center center;-->
<!--                                 width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;-->
<!--                                 background-image:-->
<!--                                  url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">-->
<!--                </label>-->
<!--                <label class="fr-chip-label"-->
<!--                  style="background-size: 50px; background-position: center center;-->
<!--                                   width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;-->
<!--                                   background-image:-->
<!--                                    url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">-->
<!--                </label>-->
<!--                <label class="fr-chip-label"-->
<!--                  style="background-size: 50px; background-position: center center;-->
<!--                                     width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;-->
<!--                                     background-image:-->
<!--                                      url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">-->
<!--                </label>-->
<!--                <label class="fr-chip-label"-->
<!--                  style="background-size: 50px; background-position: center center;-->
<!--                                       width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;-->
<!--                                       background-image:-->
<!--                                        url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">-->
<!--                </label>-->
<!--              </div>-->
<!--              <div class="product-item-btnWishList">-->
<!--                <button><i class="fa-regular fa-heart"></i></button>-->
<!--              </div>-->

<!--            </div>-->
<!--            <div class="product-item-size">-->
<!--              <span>S-M-L-XL</span>-->
<!--            </div>-->
<!--            <div class="product-item-name">-->
<!--              <p>Áo Khoác Vải Jersey Mềm Dáng Rộng</p>-->
<!--            </div>-->
<!--            <div class="product-item-price">-->
<!--              <p style="line-height: 1;padding-top: 4px;">-->
<!--                <span class="product-item-priceInit">1270000</span><br>-->
<!--                <span class="product-item-priceSale">1270000</span>-->
<!--              </p>-->
<!--            </div>-->
<!--            <div class="product-item-rate">-->
<!--              <span class="rate-icon"><i class="fa-solid fa-star"></i></span>-->
<!--              <span class="rate-total">4.9</span>-->
<!--              <span class="rate-count">(94)</span>-->

<!--            </div>-->

<!--          </div>-->



          <div class="product-item" *ngFor="let product of products"
           [routerLink]="['/client', currentCurrency, currentLang,'detail_product', product.id,
                                                                                    product.colors?.[0]?.id,
                                                                                    product.sizes?.[0]?.id]"  >

            <div class="product-item-image">
              <img src="{{getImageProduct(product.detail?.variantImage)}}" alt="aaa">
            </div>
            <div class="product-item-ColorAndbtnWishList">
              <div class="product-item-color">
                <label *ngFor="let color of product.colors" class="fr-chip-label"
                  [style.background-image]="'url(' + getColorImage(color.valueImg) + ')'"
                  [style.background-size]="'50px'" [style.background-position]="'center center'" [style.width]="'21px'"
                  [style.height]="'21px'">
                </label>
              </div>
              <div class="product-item-btnWishList">
                <button (click)="$event.stopPropagation(); toggleWishlist(product.id, product.detail?.colorId ?? 0)">
                  <i *ngIf="product.detail?.inWishlist" class="fa-solid fa-heart" style="color: #ff0000;"></i>
                  <i *ngIf="!product.detail?.inWishlist" class="fa-regular fa-heart"></i>
                </button>
              </div>


            </div>
            <div class="product-item-size" *ngIf="product.sizes?.length">
              <span>
                <span>{{ product.sizes?.[0]?.valueName ?? '' }}</span>
                <span>-</span><span *ngIf="product.sizes && product.sizes.length">{{product.sizes[product.sizes.length -
                  1].valueName}}
                </span>
              </span>

              <span *ngIf=" product.categoryParent?.length">
                <span class="product-item-categoryParent" *ngIf="product.categoryParent?.length === 1">
                  {{ product.categoryParent?.[0]?.name ?? '' }}
                </span>
                <span class="product-item-categoryParent" *ngIf="(product.categoryParent?.length || 0) > 1">
                  Unisex
                </span>
              </span>
            </div>



            <div class="product-item-name">
              <p>{{ product.detail?.name }}</p>
            </div>
            <div class="product-item-price">
              <p style="line-height: 1;padding-top: 4px;">
                <!-- Nếu basePrice === salePrice, chỉ hiển thị giá gốc -->

                <span *ngIf="product.detail?.basePrice === product.detail?.salePrice" class="product-item-priceInit">
                  {{ getCurrencyPrice(product.detail?.basePrice ?? 0, currentCurrencyDetail?.rateToBase ??
                  1,currentCurrencyDetail?.code ?? '' )}}

                </span>
                <!-- Nếu basePrice > salePrice, hiển thị cả hai giá -->
                <span *ngIf="product.detail?.basePrice != product.detail?.salePrice">
                  <span class="product-item-priceInit" style="text-decoration: line-through;">
                    {{ getCurrencyPrice(product.detail?.basePrice ?? 0, currentCurrencyDetail?.rateToBase ??
                    1,currentCurrencyDetail?.code ?? '' )}}

                  </span>
                  <br>
                  <span class="product-item-priceSale">

                    {{ getCurrencyPrice(product.detail?.salePrice ?? 0, currentCurrencyDetail?.rateToBase ??
                    1,currentCurrencyDetail?.code ?? '' )}}

                  </span>

                </span><br>

              </p>
            </div>
            <ng-container *ngIf="product.promotion?.isActive != null && product.promotion?.isActive">
              <div class="product-item-coupon">
                <span>{{ "Giảm giá hết thời hạn" | translate }}  {{ product.promotion?.endDate | date:'dd/MM/yyyy, hh:mm a' }}</span>


              </div>
            </ng-container>

            <div class="product-item-rate">
              <span class="rate-icon"><i class="fa-solid fa-star"></i></span>
              <span class="rate-total">{{product.reviewAverage}}</span>
              <span class="rate-count">({{product.reviewTotal}})</span>

            </div>

          </div>



        </div>



      </div>

    </div>


  </div>
</div>

