<!-- <div class="container">
    <div class="textLink" style="margin-left: 40px; padding: 10px;"><span style="
      font-family:  'Kanit', sans-serif; font-size: 17px;font-weight: 500;
      ">Home</span>
        <span style="padding: 5px;">/</span>
        <span style="color: #8ba1b0; font-size: 12px;font-weight: 500;">Products</span>
        <span style="padding: 5px;">/</span>
        <span style="color: #8ba1b0; font-size: 12px;font-weight: 500;">Product detail</span>
    </div>
</div> -->
<!-- CONTENT -->
<div class="container-fluid">
    <div class="background-box">
        <!-- <img class="image-overlay" src="../../../assets/images/banner-product-1.jpg" alt=""> -->
        <!-- <div class="overlay"></div> -->
        <div class="content-box">
            <div class="container p-3  "
                style="background-color: rgba(255, 255, 255, 0.6);height: auto;">
                <div class="content-product-title">
                    <h2>Áo Blouson & Áo Parka</h2>
                </div>
                <div class="content-fiter-tools">
                    <div class="tools-title">
                        <i class="fa-solid fa-sort"></i>
                        <span>{{ "Bộ lọc" | translate }}</span>
                    </div>
                    <div class="tool-elements">
                        <div class="element-select">
                            <select class="form-select">
                                <option selected>Giá Tăng Dần Dần Dần Dần</option>
                                <option>Giá Giảm Dần</option>
                            </select>
                        </div>
                        <div class="element-select">
                            <select class="form-select">
                                <option selected>Giá Tăng Dần</option>
                                <option>Giá Giảm Dần</option>
                            </select>
                        </div>
                        <div class="element-select">
                            <select class="form-select">
                                <option selected>Giá Tăng Dần</option>
                                <option>Giá Giảm Dần</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="tool-search">
                    <div class="count-product">
                        <span><span class="mobile-text-product">Kết Quả Tìm Kiếm:</span> 10 Sản Phẩm</span>
                    </div>
                    <div class="search-product">
                        <input type="text">
                    </div>
                </div>


                <div class="products-box">


                    <div class="product-item"
                         [routerLink]="['../detail_product']">
                        <div class="product-item-image">
                            <img src="../../../assets/images/pr1.png" alt="aaa">
                        </div>
                        <div class="product-item-ColorAndbtnWishList">
                            <div class="product-item-color">
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                 width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                 background-image:
                                  url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                   width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                   background-image:
                                    url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                     width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                     background-image:
                                      url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                       width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                       background-image:
                                        url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                            </div>
                            <div class="product-item-btnWishList">
                                <button><i class="fa-regular fa-heart"></i></button>
                            </div>

                        </div>
                        <div class="product-item-size">
                            <span>S-M-L-XL</span>
                        </div>
                        <div class="product-item-name">
                            <p>Áo Khoác Vải Jersey Mềm Dáng Rộng</p>
                        </div>
                        <div class="product-item-price">
                            <p style="line-height: 1;padding-top: 4px;">
                                <span class="product-item-priceInit" >1270000</span><br>
                                <span class="product-item-priceSale"   >1270000</span>
                             </p>
                        </div>
                        <div class="product-item-rate">
                            <span class="rate-icon"><i class="fa-solid fa-star"></i></span>
                            <span class="rate-total">4.9</span>
                            <span class="rate-count">(94)</span>

                        </div>

                    </div>



                    <div class="product-item">
                        <div class="product-item-image">
                            <img src="../../../assets/images/pr1.png" alt="aaa">
                        </div>
                        <div class="product-item-ColorAndbtnWishList">
                            <div class="product-item-color">
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                 width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                 background-image:
                                  url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                   width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                   background-image:
                                    url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                     width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                     background-image:
                                      url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                       width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                       background-image:
                                        url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                            </div>
                            <div class="product-item-btnWishList">
                                <button><i class="fa-regular fa-heart"></i></button>
                            </div>

                        </div>
                        <div class="product-item-size">
                            <span>S-M-L-XL</span>
                        </div>
                        <div class="product-item-name">
                            <p>Áo Khoác Vải Jersey Mềm Dáng Rộng</p>
                        </div>
                        <div class="product-item-price">
                            <p style="line-height: 1;padding-top: 4px;">
                                <span class="product-item-priceInit" >1,270,000 VND</span><br>
                                <span class="product-item-priceSale"   >1,270,000 VND</span>
                             </p>
                        </div>
                        <div class="product-item-rate">
                            <span class="rate-icon"><i class="fa-solid fa-star"></i></span>
                            <span class="rate-total">4.9</span>
                            <span class="rate-count">(94)</span>

                        </div>

                    </div>


                    <div class="product-item">
                        <div class="product-item-image">
                            <img src="../../../assets/images/pr1.png" alt="aaa">
                        </div>
                        <div class="product-item-ColorAndbtnWishList">
                            <div class="product-item-color">
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                 width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                 background-image:
                                  url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                   width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                   background-image:
                                    url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                     width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                     background-image:
                                      url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                       width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                       background-image:
                                        url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                            </div>
                            <div class="product-item-btnWishList">
                                <button><i class="fa-regular fa-heart"></i></button>
                            </div>

                        </div>
                        <div class="product-item-size">
                            <span>S-M-L-XL</span>
                        </div>
                        <div class="product-item-name">
                            <p>Áo Khoác Vải Jersey Mềm Dáng Rộng</p>
                        </div>
                        <div class="product-item-price">
                            <p style="line-height: 1;padding-top: 4px;">
                                <span class="product-item-priceInit" >1,270,000 VND</span><br>
                                <span class="product-item-priceSale"   >1,270,000 VND</span>
                             </p>
                        </div>
                        <div class="product-item-rate">
                            <span class="rate-icon"><i class="fa-solid fa-star"></i></span>
                            <span class="rate-total">4.9</span>
                            <span class="rate-count">(94)</span>

                        </div>

                    </div>


                    <div class="product-item">
                        <div class="product-item-image">
                            <img src="../../../assets/images/pr1.png" alt="aaa">
                        </div>
                        <div class="product-item-ColorAndbtnWishList">
                            <div class="product-item-color">
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                 width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                 background-image:
                                  url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                   width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                   background-image:
                                    url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                     width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                     background-image:
                                      url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                       width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                       background-image:
                                        url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                            </div>
                            <div class="product-item-btnWishList">
                                <button><i class="fa-regular fa-heart"></i></button>
                            </div>

                        </div>
                        <div class="product-item-size">
                            <span>S-M-L-XL</span>
                        </div>
                        <div class="product-item-name">
                            <p>Áo Khoác Vải Jersey Mềm Dáng Rộng</p>
                        </div>
                        <div class="product-item-price">
                            <p style="line-height: 1;padding-top: 4px;">
                                <span class="product-item-priceInit" >1,270,000 VND</span><br>
                                <span class="product-item-priceSale"   >1,270,000 VND</span>
                             </p>
                        </div>
                        <div class="product-item-rate">
                            <span class="rate-icon"><i class="fa-solid fa-star"></i></span>
                            <span class="rate-total">4.9</span>
                            <span class="rate-count">(94)</span>

                        </div>

                    </div>


                    <div class="product-item">
                        <div class="product-item-image">
                            <img src="../../../assets/images/pr1.png" alt="aaa">
                        </div>
                        <div class="product-item-ColorAndbtnWishList">
                            <div class="product-item-color">
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                 width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                 background-image:
                                  url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                   width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                   background-image:
                                    url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                     width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                     background-image:
                                      url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                       width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                       background-image:
                                        url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                            </div>
                            <div class="product-item-btnWishList">
                                <button><i class="fa-regular fa-heart"></i></button>
                            </div>

                        </div>
                        <div class="product-item-size">
                            <span>S-M-L-XL</span>
                        </div>
                        <div class="product-item-name">
                            <p>Áo Khoác Vải Jersey Mềm Dáng Rộng</p>
                        </div>
                        <div class="product-item-price">
                            <p style="line-height: 1;padding-top: 4px;">
                                <span class="product-item-priceInit" >1,270,000 VND</span><br>
                                <span class="product-item-priceSale"   >1,270,000 VND</span>
                             </p>
                        </div>
                        <div class="product-item-rate">
                            <span class="rate-icon"><i class="fa-solid fa-star"></i></span>
                            <span class="rate-total">4.9</span>
                            <span class="rate-count">(94)</span>

                        </div>

                    </div>


                    <div class="product-item">
                        <div class="product-item-image">
                            <img src="../../../assets/images/pr1.png" alt="aaa">
                        </div>
                        <div class="product-item-ColorAndbtnWishList">
                            <div class="product-item-color">
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                 width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                 background-image:
                                  url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                   width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                   background-image:
                                    url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                     width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                     background-image:
                                      url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                       width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                       background-image:
                                        url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                            </div>
                            <div class="product-item-btnWishList">
                                <button><i class="fa-regular fa-heart"></i></button>
                            </div>

                        </div>
                        <div class="product-item-size">
                            <span>S-M-L-XL</span>
                        </div>
                        <div class="product-item-name">
                            <p>Áo Khoác Vải Jersey Mềm Dáng Rộng</p>
                        </div>
                        <div class="product-item-price">
                            <p style="line-height: 1;padding-top: 4px;">
                                <span class="product-item-priceInit" >1,270,000 VND</span><br>
                                <span class="product-item-priceSale"   >1,270,000 VND</span>
                             </p>
                        </div>
                        <div class="product-item-rate">
                            <span class="rate-icon"><i class="fa-solid fa-star"></i></span>
                            <span class="rate-total">4.9</span>
                            <span class="rate-count">(94)</span>

                        </div>

                    </div>


                    <div class="product-item">
                        <div class="product-item-image">
                            <img src="../../../assets/images/pr1.png" alt="aaa">
                        </div>
                        <div class="product-item-ColorAndbtnWishList">
                            <div class="product-item-color">
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                 width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                 background-image:
                                  url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                   width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                   background-image:
                                    url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                     width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                     background-image:
                                      url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                       width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                       background-image:
                                        url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                            </div>
                            <div class="product-item-btnWishList">
                                <button><i class="fa-regular fa-heart"></i></button>
                            </div>

                        </div>
                        <div class="product-item-size">
                            <span>S-M-L-XL</span>
                        </div>
                        <div class="product-item-name">
                            <p>Áo Khoác Vải Jersey Mềm Dáng Rộng</p>
                        </div>
                        <div class="product-item-price">
                            <p style="line-height: 1;padding-top: 4px;">
                                <span class="product-item-priceInit" >1,270,000 VND</span><br>
                                <span class="product-item-priceSale"   >1,270,000 VND</span>
                             </p>
                        </div>
                        <div class="product-item-rate">
                            <span class="rate-icon"><i class="fa-solid fa-star"></i></span>
                            <span class="rate-total">4.9</span>
                            <span class="rate-count">(94)</span>

                        </div>

                    </div>


                    <div class="product-item">
                        <div class="product-item-image">
                            <img src="../../../assets/images/pr1.png" alt="aaa">
                        </div>
                        <div class="product-item-ColorAndbtnWishList">
                            <div class="product-item-color">
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                 width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                 background-image:
                                  url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                   width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                   background-image:
                                    url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                     width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                     background-image:
                                      url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                       width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                       background-image:
                                        url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                            </div>
                            <div class="product-item-btnWishList">
                                <button><i class="fa-regular fa-heart"></i></button>
                            </div>

                        </div>
                        <div class="product-item-size">
                            <span>S-M-L-XL</span>
                        </div>
                        <div class="product-item-name">
                            <p>Áo Khoác Vải Jersey Mềm Dáng Rộng</p>
                        </div>
                        <div class="product-item-price">
                            <p style="line-height: 1;padding-top: 4px;">
                                <span class="product-item-priceInit" >1,270,000 VND</span><br>
                                <span class="product-item-priceSale"   >1,270,000 VND</span>
                             </p>
                        </div>
                        <div class="product-item-rate">
                            <span class="rate-icon"><i class="fa-solid fa-star"></i></span>
                            <span class="rate-total">4.9</span>
                            <span class="rate-count">(94)</span>

                        </div>

                    </div>


                    <div class="product-item">
                        <div class="product-item-image">
                            <img src="../../../assets/images/pr1.png" alt="aaa">
                        </div>
                        <div class="product-item-ColorAndbtnWishList">
                            <div class="product-item-color">
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                 width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                 background-image:
                                  url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                   width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                   background-image:
                                    url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                     width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                     background-image:
                                      url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                       width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                       background-image:
                                        url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                            </div>
                            <div class="product-item-btnWishList">
                                <button><i class="fa-regular fa-heart"></i></button>
                            </div>

                        </div>
                        <div class="product-item-size">
                            <span>S-M-L-XL</span>
                        </div>
                        <div class="product-item-name">
                            <p>Áo Khoác Vải Jersey Mềm Dáng Rộng</p>
                        </div>
                        <div class="product-item-price">
                            <p style="line-height: 1;padding-top: 4px;">
                                <span class="product-item-priceInit" >1,270,000 VND</span><br>
                                <span class="product-item-priceSale"   >1,270,000 VND</span>
                             </p>
                        </div>
                        <div class="product-item-rate">
                            <span class="rate-icon"><i class="fa-solid fa-star"></i></span>
                            <span class="rate-total">4.9</span>
                            <span class="rate-count">(94)</span>

                        </div>

                    </div>


                    <div class="product-item">
                        <div class="product-item-image">
                            <img src="../../../assets/images/pr1.png" alt="aaa">
                        </div>
                        <div class="product-item-ColorAndbtnWishList">
                            <div class="product-item-color">
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                 width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                 background-image:
                                  url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                   width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                   background-image:
                                    url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                     width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                     background-image:
                                      url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                                <label class="fr-chip-label"
                                    style="background-size: 50px; background-position: center center;
                                       width: 21px; height: 21px; display: flex; min-height: 0px; min-width: 0px;
                                       background-image:
                                        url(&quot;https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456261/chip/goods_61_456261_chip.jpg&quot;);">
                                </label>
                            </div>
                            <div class="product-item-btnWishList">
                                <button><i class="fa-regular fa-heart"></i></button>
                            </div>

                        </div>
                        <div class="product-item-size">
                            <span>S-M-L-XL</span>
                        </div>
                        <div class="product-item-name">
                            <p>Áo Khoác Vải Jersey Mềm Dáng Rộng</p>
                        </div>
                        <div class="product-item-price">
                            <p style="line-height: 1;padding-top: 4px;">
                                <span class="product-item-priceInit" >1,270,000 VND</span><br>
                                <span class="product-item-priceSale"   >1,270,000 VND</span>
                             </p>
                        </div>
                        <div class="product-item-rate">
                            <span class="rate-icon"><i class="fa-solid fa-star"></i></span>
                            <span class="rate-total">4.9</span>
                            <span class="rate-count">(94)</span>

                        </div>

                    </div>

                </div>



            </div>

        </div>


    </div>
