<div class="container mt-5">
  <div class="container">
    <h1 class="mt-5 pt-3 fs-3">HÌNH ẢNH CHI TIẾT</h1>
    <hr>
    <div class="mt-3 row">
      <div class="col-md-5">
        <img class="img-fluid" src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/469862/item/goods_56_469862_3x4.jpg">

      </div>


      <div class="col-md-7">
        <span>Mẫu số: 174cm</span>
        <hr>
        <ul>
          <li>
            <div class="container d-flex ">
              <div class="card product-card">
                <div class="product-image">
                  <img class="img-fluid" src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/444967/item/goods_66_444967_3x4.jpg" alt="Product Image">
                </div>
                <div class="card-body product-details">
                  <h6 class="text-uppercase">PHỤ NỮ</h6>
                  <p>Áo khoác nhỏ gọn</p>
                  <p><strong>Màu:</strong> 56 OLIVE</p>
                  <p><strong>Kích thước:</strong> NỮ M</p>
                  <p class="price">2.000.000</p>
                </div>
                <button class="btn btn-outline-danger bi bi-heart border border-0 text-bg-white"></button>
              </div>
            </div>
            <hr>
          </li>
          <li>
            <div class="container d-flex ">
              <div class="card product-card">
                <div class="product-image">
                  <img class="img-fluid" src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/444967/item/goods_66_444967_3x4.jpg" alt="Product Image">
                </div>
                <div class="card-body product-details">
                  <h6 class="text-uppercase">PHỤ NỮ</h6>
                  <p>Áo khoác nhỏ gọn</p>
                  <p><strong>Màu:</strong> 56 OLIVE</p>
                  <p><strong>Kích thước:</strong> NỮ M</p>
                  <p class="price">2.000.000</p>
                </div>
                <button class="btn btn-outline-danger bi bi-heart border border-0 text-bg-white"></button>
              </div>
            </div>
            <hr>
          </li>
          <li>
            <div class="container d-flex ">
              <div class="card product-card">
                <div class="product-image">
                  <img class="img-fluid" src="https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/444967/item/goods_66_444967_3x4.jpg" alt="Product Image">
                </div>
                <div class="card-body product-details">
                  <h6 class="text-uppercase">PHỤ NỮ</h6>
                  <p>Áo khoác nhỏ gọn</p>
                  <p><strong>Màu:</strong> 56 OLIVE</p>
                  <p><strong>Kích thước:</strong> NỮ M</p>
                  <p class="price">2.000.000</p>
                </div>
                <button class="btn btn-outline-danger bi bi-heart border border-0 text-bg-white"></button>
              </div>
            </div>
            <hr>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>





