<div class="container" style="margin-top: 4rem">
  <!--  <div class="mt-5"></div>-->
  <div class="container mt-3">
    <!-- Back to product link -->
    <a href="#" class="text-decoration-underline fw-bold text-dark d-block mb-3">
      QUAY LẠI CHI TIẾT SẢN PHẨM
    </a>

    <!-- Product title -->
    <h2 class="fw-bold">AIRism Áo Hoodie Chống UV Vải Mát Lưới Kéo Khóa</h2>

    <!-- Description -->
    <p class="mt-3 text-muted">
      Để đăng bài đánh giá bằng Tiếng Anh, quý khách vui lòng truy cập vào trang web tiếng Anh.
      Trang web Tiếng Việt chỉ ghi nhận và hiển thị bài viết đánh giá bằng tiếng Việt.
    </p>

    <!-- Link to English site -->
    <a href="#" class="text-decoration-underline fw-bold text-dark">
      TRUY CẬP ĐẾN TRANG TIẾNG ANH
    </a>
  </div>
  <!--Viết Đánh Giá-->
  <div class="row">
    <!--    Phần bên trái-->
    <div class="col-md-7">
      <div class="container mt-4 border p-4">
        <div class="d-flex justify-content-between">
          <h3 class="fw-bold">VIẾT BÀI ĐÁNH GIÁ</h3>
          <p class="text-success-emphasis">* Bắt buộc</p>
        </div>

        <!-- Form -->
        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
          <!-- Đánh giá -->
          <div class="mb-4 d-flex align-items-center justify-content-between row mt-4">
            <div class="col-md-3">
              <label class="form-label fw-bold d-inline-block ">ĐÁNH GIÁ *</label>
            </div>
            <div class="col-md-9">
              <div class="d-flex align-items-center gap-3">
                <!-- Rating Stars -->
                <div class="d-flex gap-2">
                  <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                    <i
                      class="fa"
                      [ngClass]="{
            'fa-star': star <= selectedRating,
            'fa-star-o': star > selectedRating,
            'icon-color': star <= selectedRating,
            'text-muted': star > selectedRating
          }"
                      (click)="setRating(star)"
                      style="cursor: pointer; font-size: 1.5rem;"
                    ></i>
                  </ng-container>
                </div>
                <!-- Rating Text -->
                <span class="text-muted fw-bold">{{ ratingText }}</span>
              </div>
              <input type="hidden" formControlName="rating" [value]="selectedRating" />
            </div>
          </div>



          <!-- Dáng -->
          <div class="fit-selector">
            <div class="d-flex justify-content-between align-items-center row">
              <div class="col-md-3">
                <label class="form-label fw-bold mb-0">DÁNG *</label>
              </div>
              <div class="col-md-9">
                <div class="fr-flitem col12">
                  <div class="fr-fitting-label d-flex justify-content-between mb-2 fw-bold">
                    <p class="fr-fitting-label-item" style="font-size: 14px;">CHẬT</p>
                    <p class="fr-fitting-label-item" style="font-size: 14px;">HƠI CHẬT</p>
                    <p class="fr-fitting-label-item" style="font-size: 14px;">ĐÚNG VỚI <br> KÍCH THƯỚC</p>
                    <p class="fr-fitting-label-item" style="font-size: 14px;">HƠI RỘNG</p>
                    <p class="fr-fitting-label-item" style="font-size: 14px;">RỘNG</p>
                  </div>
                  <div class="fr-fitting-graph position-relative">
                    <div class="fr-fitting-point d-flex justify-content-between position-relative">
            <span
              class="fr-dots"
              [class.selected]="fitValue === 1"
              (click)="setFitValue(1)"
            >
              <span class="fr-implicit"></span>
            </span>
                      <span
                        class="fr-dots"
                        [class.selected]="fitValue === 2"
                        (click)="setFitValue(2)"
                      >
              <span class="fr-implicit"></span>
            </span>
                      <span
                        class="fr-dots"
                        [class.selected]="fitValue === 3"
                        (click)="setFitValue(3)"
                      >
              <span class="fr-implicit"></span>
            </span>
                      <span
                        class="fr-dots"
                        [class.selected]="fitValue === 4"
                        (click)="setFitValue(4)"
                      >
              <span class="fr-implicit"></span>
            </span>
                      <span
                        class="fr-dots"
                        [class.selected]="fitValue === 5"
                        (click)="setFitValue(5)"
                      >
              <span class="fr-implicit"></span>
            </span>
                    </div>
                    <input name="fit" type="range" step="1" min="1" max="5" formControlName="fit" hidden />
                  </div>
                </div>
              </div>
            </div>
          </div>



          <!-- Tiêu đề -->
          <div class="mb-4 title-row row mt-4">
            <div class="col-md-3">
              <label class="title-form-label">TIÊU ĐỀ *</label>
            </div>
            <div class="col-md-9">
              <input
                type="text"
                class="title-form-control"
                placeholder="Tóm tắt đánh giá của bạn"
                formControlName="title"
              />
              <small  class="title-text-muted">Tiêu đề của bạn phải ít hơn 100 ký tự.</small>
            </div>
          </div>



          <!-- Bình luận -->
          <div class="mb-4 row">
            <div class="col-md-3">
              <label  class="form-label fw-bold">BÌNH LUẬN *</label>
            </div>
            <div class="col-md-9">
              <textarea
                class="form-control"
                rows="4"
                placeholder=""
                formControlName="comment"
              ></textarea>
              <div *ngIf="reviewForm.get('comment')?.hasError('minlength') && reviewForm.get('comment')?.touched">
                <small class="text-danger">Bình luận phải có ít nhất 50 ký tự.</small>
              </div>
            </div>

          </div>

          <!-- Kích cỡ đã mua -->
          <div class="mb-4">
            <label class="form-label fw-bold">KÍCH CỠ ĐÃ MUA *</label>
            <select class="form-select" formControlName="sizePurchased">
              <option value="">Chọn</option>
              <option *ngFor="let s of sizes" [value]="s.size">{{ s.size }}</option>
            </select>
          </div>

          <!-- Biệt danh -->
          <div class="mb-4">
            <label class="form-label fw-bold">BIỆT DANH *</label>
            <input
              type="text"
              class="form-control"
              placeholder="Vui lòng nhập tên đăng nhập"
              formControlName="nickname"
            />
          </div>

          <!-- Thông tin người mặc -->
          <div class="mb-4">
            <h6 class="fw-bold">THÔNG TIN NGƯỜI MẶC</h6>
            <div class="row g-3">
              <div class="col-md-6">
                <label class="form-label fw-bold">GIỚI TÍNH *</label>
                <select class="form-select" formControlName="gender">
                  <option value="">Chọn</option>
                  <option *ngFor="let g of genders" [value]="g.gender">{{ g.gender }}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label fw-bold">VỊ TRÍ *</label>
                <select formControlName="location" class="form-select">
                  <option value="">Chọn</option>
                  <option *ngFor="let province of provinces" [ngValue]="province">
                    {{ province.Name }}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label fw-bold">ĐỘ TUỔI *</label>
                <select class="form-select" formControlName="age">
                  <option value="">Chọn</option>
                  <option *ngFor="let a of ages" [value]="a.age">{{ a.age }}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label fw-bold">CHIỀU CAO *</label>
                <select class="form-select" formControlName="height">
                  <option value="">Chọn</option>
                  <option *ngFor="let h of heights" [value]="h.height">{{ h.height }}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label fw-bold">CÂN NẶNG *</label>
                <select class="form-select" formControlName="weight">
                  <option value="">Chọn</option>
                  <option *ngFor="let w of weights" [value]="w.weight">{{ w.weight }}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label fw-bold">CỠ GIÀY *</label>
                <select class="form-select" formControlName="shoeSize">
                  <option value="">Chọn</option>
                  <option *ngFor="let ss of shoeSizes" [value]="ss.size">{{ ss.size }}</option>
                </select>
              </div>
            </div>
          </div>
          <hr>
          <!-- Điều khoản -->
          <div class="review-form-container mt-4">
            <!-- Header -->
            <h5 class="fw-bold">ĐĂNG BÀI ĐÁNH GIÁ CỦA BẠN:</h5>
            <ul class="review-form-text-muted">
              <li>Bình luận đã đăng của bạn có thể được sử dụng cho mục đích quảng cáo.</li>
              <li>Chúng tôi không chấp nhận các yêu cầu đăng quảng cáo cho các thương hiệu, cá nhân, tổ chức khác. Ngoài ra, chúng tôi không thể đăng tình trạng còn hàng và kích cỡ sản phẩm.</li>
            </ul>

            <!-- Checkbox -->
            <div class="review-checkbox-container">
              <input class="review-form-checkbox-input" style="height: 1.3rem;width: 1.3rem" type="checkbox" id="terms" formControlName="agree" required />
              <label class="review-form-checkbox-label" for="terms">
                Tôi đồng ý với <span class="review-form-link">ĐIỀU KHOẢN SỬ DỤNG CỦA UNIQLO</span>
              </label>
            </div>

            <!-- Terms Link -->
            <a href="#" class="review-form-link d-block mb-4 fw-bold">ĐIỀU KHOẢN SỬ DỤNG</a>

            <!-- Buttons -->
            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-dark px-5 review-submit-btn fw-bold">GỬI</button>
              <button type="button" class="btn btn-outline-dark px-5 review-back-btn fw-bold">QUAY LẠI CHI TIẾT SẢN PHẨM</button>
            </div>
          </div>

        </form>
      </div>

      <!----------------------END--------------------->
    </div>
    <!--Hình ảnh bên phải-->
    <div class="col-md-5 ">
      <div class="container p-3 sticky-top">
        <img src="https://image.uniqlo.com/UQ/ST3/vn/imagesgoods/456261/item/vngoods_10_456261_3x4.jpg?width=369" alt="Model Pose 1" class="img-fluid rounded">
      </div>
    </div>
  </div>
</div>
