<p style="margin-top: 55px;">store-inventory works!</p>
<div class="container " style="background-color: red;">
    <div class="container-inventory">
        <div class="header-conteriner">
            <a href="">QUAY LẠI LẠI CHI TIÉT SẢN PHẨM </a> <br>
            <strong>Áo Sơ Mi Không Cần Ủi | Cổ Bẻ Rộng</strong>
        </div>
        <div class="row ms-1">
            <div class="col-md-8 layout-item-content">
                <div class="title-content">
                    TÌM SẢN PHẨM CÒN HÀNH TRONG CỬA HÀNG

                </div>
                <p>Vui lòng chọn màu sắc và kích cỡ.</p>

                <div class="content-box">
                    <div class="row">
                        <div class="col-md-3 content-colors">
                            <span class="title-color">MÀU SẮC :</span> <br>
                            <span>00 WHITE</span>
                        </div>
                        <div class="col-md-9 ">
                            <div class="color-picker mt-1">
                                <dl class="color-picker-list">
                                    <!-- Màu trắng -->
                                    <dt class="color-item" data-test="color-white">
                                        <input type="radio" value="1" name="product-color-picker"
                                            id="product-color-picker-white" class="color-input">
                                        <label class="color-label" for="product-color-picker-white"
                                            style="background-image: url(https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456591/chip/goods_60_456591_chip.jpg)">
                                        </label>
                                    </dt>
                                    
                                    <dt class="color-item" data-test="color-red">
                                        <input type="radio" value="2" name="product-color-picker"
                                            id="product-color-picker-red" class="color-input">
                                        <label class="color-label" for="product-color-picker-red"
                                            style="background-image: url(https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456591/chip/goods_60_456591_chip.jpg)">
                                        </label>
                                    </dt>
                                    
                                    <dt class="color-item" data-test="color-blue">
                                        <input type="radio" value="3" name="product-color-picker"
                                            id="product-color-picker-blue" class="color-input">
                                        <label class="color-label" for="product-color-picker-blue"
                                            style="background-image: url(https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456591/chip/goods_60_456591_chip.jpg)">
                                        </label>
                                    </dt>
                                    
                                    <dt class="color-item" data-test="color-black">
                                        <input type="radio" value="4" name="product-color-picker"
                                            id="product-color-picker-black" class="color-input">
                                        <label class="color-label" for="product-color-picker-black"
                                            style="background-image: url(https://image.uniqlo.com/UQ/ST3/AsianCommon/imagesgoods/456591/chip/goods_60_456591_chip.jpg)">
                                        </label>
                                    </dt>
                                    

                                </dl>
                            </div>


                            <!-- <div class="btn-box-color"  style="background-color: rgb(151, 151, 151);">
                                <dl class="size-picker"  >
                                    <div class="size-item" data-test="size.valueName">
                                        <dt style="margin-bottom: 10px;">
                                            <input type="radio" name="product-size-picker" id="size-s" class="color-input">
                                            <label class="fr-chip-label" for="size-s"
                                                style="width: 36px; height: 36px; display: flex; align-items: center; justify-content: center;">
                                                <span class="fr-chip-text">M</span>
                                            </label>
                                        </dt>
                                    </div>
                                </dl>
                                <dl class="size-picker"  >
                                    <div class="size-item" data-test="size.valueName">
                                        <dt style="margin-bottom: 10px;">
                                            <input type="radio" name="product-size-picker" id="size-m" class="color-input">
                                            <label class="fr-chip-label" for="size-m"
                                                style="width: 36px; height: 36px; display: flex; align-items: center; justify-content: center;">
                                                <span class="fr-chip-text">S</span>
                                            </label>
                                        </dt>
                                    </div>
                                </dl>
                                <dl class="size-picker">
                                    <div class="size-item" data-test="size.valueName">
                                        <dt style="margin-bottom: 10px;">
                                            <input type="radio" name="product-size-picker" id="size-l" class="color-input">
                                            <label class="fr-chip-label" for="size-l"
                                                style="width: 36px; height: 36px; display: flex; align-items: center; justify-content: center;">
                                                <span class="fr-chipbtn-colorz-text">L</span>
                                            </label>
                                        </dt>
                                    </div>
                                </dl>                              
                            </div> -->
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-3 content-colors">
                            <span class="title-color">MÀU SẮC :</span> <br>
                            <span>00 WHITE</span>
                        </div>
                        <div class="col-md-9 ">
                           

                            <div class="btn-box-color"  style="background-color: rgb(151, 151, 151);">
                                <dl class="size-picker"  >
                                    <div class="size-item" data-test="size.valueName">
                                        <dt style="margin-bottom: 10px;">
                                            <input type="radio" name="product-size-picker" id="size-s" class="color-input">
                                            <label class="fr-chip-label" for="size-s"
                                                 >
                                                <span class="fr-chip-text">M</span>
                                            </label>
                                        </dt>
                                    </div>
                                </dl>
                                <dl class="size-picker"  >
                                    <div class="size-item" data-test="size.valueName">
                                        <dt style="margin-bottom: 10px;">
                                            <input type="radio" name="product-size-picker" id="size-m" class="color-input">
                                            <label class="fr-chip-label" for="size-m"
                                               >
                                                <span class="fr-chip-text">S</span>
                                            </label>
                                        </dt>
                                    </div>
                                </dl>
                                <dl class="size-picker">
                                    <div class="size-item" data-test="size.valueName">
                                        <dt style="margin-bottom: 10px;">
                                            <input type="radio" name="product-size-picker" id="size-l" class="color-input">
                                            <label class="fr-chip-label" for="size-l"
                                                >
                                                <span class="fr-chip-text">XL</span>
                                            </label>
                                        </dt>
                                    </div>
                                </dl>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                sfvfr
            </div>
        </div>


    </div>

</div>