<!--<div *ngIf="showSuccessMessage" class="alert alert-success" role="alert">-->
<!--  {{message}}-->
<!--</div>-->


<div class="container-fluid">
    <div class="background-box">
        <!-- <img src="../../../assets/images/backgroundCart.jpeg" alt=""> -->
        <div class="overlay"></div>
    </div>
    <div class="content-box">
        <div class=" cart-layout">

            <div class="cart-title">
                <i class="fa-solid fa-cart-shopping"> </i>
                <h2> GIỎ HÀNG </h2>
            </div>
            <p></p>
            <div class="cart-allProduct">
                <!-- render product cart -->
                <div class="cart-product-item">
                    <div class="item-layout-image">
                        <div class="product-item-image">
                            <img src="../../../assets/images/pr1.png" alt="Image">
                        </div>
                    </div>
                    <div class="item-layout-infor">
                        <p class="item-name"> Half-Zip Sweatshirt Half-Zip Sweatshirt Sweatshirt Half-Zip Sweatshirt
                            Sweatshirt Half-Zip Sweatshirt </p>
                        <div class="item-inforColorSizeQty">
                            <div style="flex: 4;">
                                <p class="item-size">
                                    <span>Màu sắc: <span class="text-size-color">66 BLUE</span> </span>
                                </p>
                                <p class="item-color">
                                    <span>Kích thước: <span class="text-size-color">MEN S</span> </span>
                                </p>
                            </div>
                            <div style="flex: 6;">
                                <div class="input-group input-group-qty ">
                                    <span class="input-group-text btn-group-qty">
                                        <i class="fa-solid fa-minus"></i>
                                    </span>
                                    <input class="input-qty" type="number">
                                    <span class="input-group-text btn-group-qty">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="item-inforPrice_btnRemove">
                            <span class="item-btnRemove"><a href="">Remove</a></span>
                            <div class="item-price">Giá: <span class="textTotal"> 200,000 Vnd</span></div>
                            <div class="item-price-subtotal">Tổng: <span class="textTotal"> 200,000,000 Vnd </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cart-product-item">
                    <div class="item-layout-image">
                        <div class="product-item-image">
                            <img src="../../../assets/images/pr1.png" alt="Image">
                        </div>
                    </div>
                    <div class="item-layout-infor">
                        <p class="item-name"> Half-Zip Sweatshirt Half-Zip Sweatshirt Sweatshirt Half-Zip Sweatshirt
                            Sweatshirt Half-Zip Sweatshirt </p>
                        <div class="item-inforColorSizeQty">
                            <div style="flex: 4;">
                                <p class="item-size">
                                    <span>Màu sắc: <span class="text-size-color">66 BLUE</span> </span>
                                </p>
                                <p class="item-color">
                                    <span>Kích thước: <span class="text-size-color">MEN S</span> </span>
                                </p>
                            </div>
                            <div style="flex: 6;">
                                <div class="input-group input-group-qty ">
                                    <span class="input-group-text btn-group-qty">
                                        <i class="fa-solid fa-minus"></i>
                                    </span>
                                    <input class="input-qty" type="number">
                                    <span class="input-group-text btn-group-qty">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="item-inforPrice_btnRemove">
                            <span class="item-btnRemove"><a href="">Remove</a></span>
                            <div class="item-price">Giá: <span class="textTotal"> 200,000 Vnd</span></div>
                            <div class="item-price-subtotal">Tổng: <span class="textTotal"> 200,000,000 Vnd </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cart-product-item">
                    <div class="item-layout-image">
                        <div class="product-item-image">
                            <img src="../../../assets/images/pr1.png" alt="Image">
                        </div>
                    </div>
                    <div class="item-layout-infor">
                        <p class="item-name"> Half-Zip Sweatshirt Half-Zip Sweatshirt Sweatshirt Half-Zip Sweatshirt
                            Sweatshirt Half-Zip Sweatshirt </p>
                        <div class="item-inforColorSizeQty">
                            <div style="flex: 4;">
                                <p class="item-size">
                                    <span>Màu sắc: <span class="text-size-color">66 BLUE</span> </span>
                                </p>
                                <p class="item-color">
                                    <span>Kích thước: <span class="text-size-color">MEN S</span> </span>
                                </p>
                            </div>
                            <div style="flex: 6;">
                                <div class="input-group input-group-qty ">
                                    <span class="input-group-text btn-group-qty">
                                        <i class="fa-solid fa-minus"></i>
                                    </span>
                                    <input class="input-qty" type="number">
                                    <span class="input-group-text btn-group-qty">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="item-inforPrice_btnRemove">
                            <span class="item-btnRemove"><a href="">Remove</a></span>
                            <div class="item-price">Giá: <span class="textTotal"> 200,000 Vnd</span></div>
                            <div class="item-price-subtotal">Tổng: <span class="textTotal"> 200,000,000 Vnd </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cart-product-item">
                    <div class="item-layout-image">
                        <div class="product-item-image">
                            <img src="../../../assets/images/pr1.png" alt="Image">
                        </div>
                    </div>
                    <div class="item-layout-infor">
                        <p class="item-name"> Half-Zip Sweatshirt Half-Zip Sweatshirt Sweatshirt Half-Zip Sweatshirt
                            Sweatshirt Half-Zip Sweatshirt </p>
                        <div class="item-inforColorSizeQty">
                            <div style="flex: 4;">
                                <p class="item-size">
                                    <span>Màu sắc: <span class="text-size-color">66 BLUE</span> </span>
                                </p>
                                <p class="item-color">
                                    <span>Kích thước: <span class="text-size-color">MEN S</span> </span>
                                </p>
                            </div>
                            <div style="flex: 6;">
                                <div class="input-group input-group-qty ">
                                    <span class="input-group-text btn-group-qty">
                                        <i class="fa-solid fa-minus"></i>
                                    </span>
                                    <input class="input-qty" type="number">
                                    <span class="input-group-text btn-group-qty">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="item-inforPrice_btnRemove">
                            <span class="item-btnRemove"><a href="">Remove</a></span>
                            <div class="item-price">Giá: <span class="textTotal"> 200,000 Vnd</span></div>
                            <div class="item-price-subtotal">Tổng: <span class="textTotal"> 200,000,000 Vnd </span>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="cart-order">
                    <div class="priceBill">
                        <p class="total-decor-bold"> <span>TỔNG SỐ LƯỢNG </span> <span>20 SẢN PHẨM</span> </p>
                        <hr>
                        <p class="total-decor"> <span>KHẤU TRỪ </span> <span>20,000 VND </span> </p>
                        <p class="total-decor"> <span>TỔNG TIỀN </span> <span>20,000,000 VND </span> </p>
                        <hr>
                        <p class="total-decor-bold"> <span>TỔNG HÓA ĐƠN </span> <span>20,000,000 VND </span> </p>
                    </div>

                    <div class="priceBill">
                        <p class="total-decor-bold-coupon" style="margin: 0;
                        align-items: center; min-width: 100px;
                        "> <span class="coupon-item"> MÃ GIẢM </span> <span  class="iput-coupon-item"> <input type="text"> </span> </p>
                    </div>


                    <div class="priceBill">
                        <div class="btnBuyCart slide_leftbtnBuyCart" (click)="navigateTo('checkout')"> MUA NGAY </div>
                        <!-- <span class="hr-element-decor"><hr>or <hr></span -->
                            <hr>
                        <div class="btnBuyToContinue slide_leftbtnBuyToContinue" (click)="navigateTo('product')">TIẾP TỤC MUA SẮM</div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
