<div class="container-menu">
    <div class="header-menu">
        <img src="../../../../assets/images/admin.png" alt="" width="32">
        <h6>Admin</h6>
    </div>
    <div class="menu-aside">
        <div class="content-menu">
            <div class="menu-item  " routerLink="/admin/dashboard" routerLinkActive="active-routerLink">
                <img src="../../../../assets/images/dashboard.png" width="18" alt=""> Dashboard
            </div>

            <div class="menu-item" routerLink="/admin/list_category" routerLinkActive="active-routerLink">
                <img src="../../../../assets/images/category.png" width="18" alt=""> Category
            </div>
            <div class="menu-item" routerLink="/admin/list_order" routerLinkActive="active-routerLink">
                <img src="../../../../assets/images/checkout.png" width="18" alt=""> Order
            </div>

            <div class="menu-item">
                <img src="../../../../assets/images/shirt.png" width="18" alt=""> Product
            </div>
            <div class="menu-item " routerLink="/admin/user" routerLinkActive="active-routerLink">
                <img src="../../../../assets/images/group.png" width="18" alt=""> User
            </div>
            <div class="menu-item-admin">
                ACCOUNT ADMIN
            </div>

            <div class="menu-item">
                <img src="../../../../assets/images/user.png" width="18" alt=""> Profile
            </div>
            <div class="menu-item">
                <img src="../../../../assets/images/log-in.png" width="18" alt=""> Sign In
            </div>
            <div class="menu-item">
                <img src="../../../../assets/images/group.png" width="18" alt=""> Sign Up
            </div>


        </div>
        <div class="footer-menu">
            <button class="menu-item">
                <img src="../../../../assets/images/turn-off.png" width="18" alt=""> Log Out 
            </button>
           
        </div>
    </div>


</div>